<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Contact us!</title>
</head>
<body>

    <center>
        <p><font size="6"> Phone : 673-421-894 </font></p>
        <p><font size="6">Mail : espresso.coffee@gmail.com</font></p>
        <p><b><font size="6">Kraków 99 Florianska St!</font></b></p>

        <p><font size="5"> Write feedback please about our place, Thank You!</font></p>
    </center>
    
</body>
</html>