@{
    ViewBag.Title = "Location";
}

<title>@ViewBag.Title</title>
<h2>Our Location via Google Maps!</h2>
<div class="fixed-bottom">

<fieldset>
    <legend style="font-family: Arial Black; color: black; font-size: large;">Kraków City</legend>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div id="googleMap" style="height:650px;width:100%;"></div>
    <script>

        function myMap() {
            var myCenter = new google.maps.LatLng(50.0647592, 19.941305899999975);
            var mapProp = { center: myCenter, zoom: 12, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            var marker = new google.maps.Marker({ position: myCenter });
            marker.setMap(map);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcrpwx7O9eJp5nlnuJnBDWz5l1dNLNIwA&callback=myMap"></script>
</fieldset>
<footer>
    <p>@DateTime.Now.ToLocalTime()</p> @*Add Date Time*@
</footer>
</div>