@model Coffee

@{
    ViewBag.Title = "Edycja produktu";
    Layout = "_AdminLayout";
}

<form asp-action="Edit" asp-route="Coffee" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name">Produkt</label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ShortDescription">Opis</label>
        <div><span asp-validation-for="ShortDescription" class="text-danger"></span></div>
        <textarea asp-for="ShortDescription" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="LongDescription">Długi opis</label>
        <div><span asp-validation-for="LongDescription" class="text-danger"></span></div>
        <input asp-for="LongDescription" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price">Cena</label>
        <div><span asp-validation-for="Price" class="text-danger"></span></div>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Zapisz</button>
        <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
    </div>
</form>

